/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.big-nav a{
	color: #000;
}

@media only screen and (max-width : 992px) {
	.big-nav{
		display: none;
	}
}